/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 Nov 2020, 10:50:47 pm
    Author     : mayma
*/
* {
    margin: 0;
    padding: 0;
}

.seat {
    float: left;
    display: block;
    margin: 8.3px;
    background: #4CAF50;
    width: 38px;
    height: 38px;
    font-size: 12px;
}

.seat-select {
    display: none;
}

.seat-select:checked+.seat {
    background: #F44336;
}

.container{
    padding: 5px;
    padding-bottom: 40px;
    padding-top:40px;
}
